<!DOCTYPE html >
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
	<!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bohemBootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title> BOHEM APPLY</title>
	<script language=javascript>		
		function openConfirmID(input) {
			url = "confirmIDView.jsp";
			var h = (screen.availHeight/2) - 250;
			var w = (screen.availWidth/2) - 500;
			var setting = "width=330,height=140,resizeable=yes,left="+ w + ",top=" + h;
			window.open(url,"confirm",setting);
		}
		
		function passchk(){   // 비밀번호 재확인
			   var pw=document.applyForm.PW.value;
			   var pw_check=document.applyForm.PW_CHECK.value;
			   if(pw_check.length==0 || pw_check==null){
				   document.applyForm.PWCK.value="    비밀번호를 입력하세요.";
			   }
			   else if(pw!=pw_check){
				   document.applyForm.PWCK.value="    비밀번호가 다릅니다.";
			   }else{
				   document.applyForm.PWCK.value="    비밀번호가 동일합니다.";
			   }
			  return;
		}
		
		function checkEmptySpace() {
			var input = document.applyForm;
			if (input.ID.value=="") {
					alert("아이디를 입력하세요");
				return false;
			} else if(input.PW.value=="") {
					alert("비밀번호를 입력하세요.");
				return false;
			} else if (input.NAME.value=="") {
					alert("이름을 입력하세요.");
				return false;
			} else if (input.TEL2.value==""||input.TEL3.value=="") {
					alert("핸드폰 번호를 입력하세요.");
				return false;
			} else if (input.EMAIL_ID.value==""||input.EMAIL_ADDRESS.value=="") {
					alert("이메일을 입력하세요.");
				return false;
			}
		}
	</script>
</head>
<body class="apply-form">
	<div align=center class="apply-form">
		<section class="apply-form">
			<form name = "applyForm" method="post" action="../apply" onSubmit="return checkEmptySpace()">
				<table class="apply-form">
					<caption><h1 class=" section-heading">APPLY</h1>
					<hr></caption>
					<TR/>
					<TR>
						<td><input type="text" placeholder="ID" name="ID" class = "apply-form btn btn-default btn-apply-form sr-button apply-form short" readonly="readonly"></td>
						<td style="text-align: center; width:5%">
						<input type="button" class="page-scroll btn btn-default btn-idcheck sr-button idcheck-button" value="ID CHECK" onClick="openConfirmID(this.form)"></td>
					</TR>
					<TR>
						<TD colspan="2"><INPUT TYPE=PASSWORD placeholder="PASSWORD" NAME="PW" class="apply-form btn btn-default btn-apply-form sr-button apply-form"></TD>
					</TR>
					<TR>
						<TD><INPUT TYPE=PASSWORD  placeholder="PW CONFIRM" NAME=PW_CHECK class="apply-form btn btn-default btn-apply-form sr-button apply-form" onblur="passchk()"></td>
						<td><INPUT TYPE=TEXT class="pwcheck" size="20" name="PWCK" value="    비밀번호를 입력하세요" readonly="readonly"/></TD>
					</TR>
					<TR>
						<TD colspan="2"><INPUT TYPE=TEXT NAME="NAME" placeholder="NAME" class="apply-form btn btn-default btn-apply-form sr-button apply-form"></TD>
					</TR>
					<TR>
						<TD colspan="2">
							<SELECT SIZE=1 NAME="TEL1" class="btn btn-default btn-apply-form sr-button apply-form">
							<option SELECTED> 010</option>
							<option> 011</option>
							<option> 017</option>
							<option> 018</option>
							<option> 019</option>
							</SELECT> - <INPUT TYPE=TEXT  NAME="TEL2" SIZE="4" Maxlength=4 class="btn btn-default btn-apply-form sr-button apply-form mobile-part">
							 - <INPUT TYPE=TEXT NAME="TEL3" SIZE="4" Maxlength=4 class="btn btn-default btn-apply-form sr-button apply-form mobile-part">
						</TD>
					</TR>
					<TR>
						<TD colspan="2"><INPUT TYPE=TEXT style="width: 35%; "placeholder="EMAIL" NAME="EMAIL_ID" class="btn btn-default btn-apply-form sr-button apply-form text-inherit">
						<lable class="section-heading"> @ </lable><INPUT TYPE=TEXT style="width: 60%;" NAME="EMAIL_ADDRESS" class="btn btn-default btn-apply-form sr-button apply-form text-inherit"></TD>
					</TR>
					<TR style="text-align:center">
						<td colspan="2" id="padding">
							<INPUT TYPE="submit" VALUE="GET STARTED!" class="page-scroll btn btn-default btn-idcheck sr-button apply-form confirm-button">
							<INPUT TYPE="button" class="page-scroll btn btn-default btn-idcheck sr-button apply-button cancel-button" VALUE="CANCEL" onClick="self.close()">
						</td>
					</TR>
				</table>
			</form>
		</section>
	</div>
</body>
</html>