<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
${pageContext.request.contextPath}
<a href ="../comm?command=recipeindexselect&index=1">1번</a>
<a href ="../comm?command=recipeindexselect&index=2">2번</a>
<a href ="../comm?command=recipeindexselect&index=3">3번</a>
<a href ="../comm?command=recipeindexselect&index=4">4번</a>
<a href ="../comm?command=recipeindexselect&index=5">5번</a>
<a href ="../comm?command=recipeindexselect&index=6">6번</a>
</body>
</html>